


	<link rel="stylesheet" type="text/css" href="/stylesheets/styleBin.css">


{{!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> --}}
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
	<table id="cart" class="table table-hover table-condensed">
    				<thead>
						<tr>
							<th style="width:50%">Наименование</th>
							<th style="width:10%">Цена</th>
							<th style="width:8%">Кол-во</th>
							<th style="width:22%" class="text-center">Итог</th>
							<th style="width:10%"></th>
						</tr>
					</thead>
        
					<tbody>
           {{#each allBins}}
						<tr class="bin" id="{{this.id}}">
							<td data-th="Product">
								<div class="row">
									<div class="col-sm-2 hidden-xs"><img src="{{this.Flower.pic}}" alt="..." class="img-responsive"/></div>
									<div class="col-sm-10">
										<h4 class="nomargin">{{this.Flower.fName}}</h4>
										<p>{{this.Flower.descr}}</p>
									</div>
								</div>
							</td>
							<td id='price' name='price' data-th="Price">{{this.Flower.price}}</td>
							<td data-th="Quantity">
								<input type="number" class="form-control text-center sumup quantity" id='quantity' name='quantity' value="{{this.count}}">
							</td>
							<td data-th="Subtotal" class="text-center subtotal">{{this.Flower.price}}</td>
							<td class="actions" data-th="">
								 <button name='update' id="update" class=" btn btn-primary text-dark fa fa-refresh update"></button>
							  <button  name='delete' id="delete" class="btn btn-primary text-dark fa fa-trash-o delete"></button>							
							</td>
						</tr>
              {{/each}}
					</tbody>
					<tfoot>
						<tr class="visible-xs">
							<td class="text-center"><strong>Итого: {{this.count}}</strong></td>
						</tr>
						<tr>
							<td><button type="button" class="btn btn-primary text-dark mr-2 mb-2">Назад</button></td>
							<td colspan="2" class="hidden-xs"></td>
							<td class="hidden-xs text-center"><strong>  {{myStorage}} </strong></td>
							<td><button type="button" class="btn btn-primary text-dark mr-2 mb-2">Оформить</button></td>
						</tr>
					</tfoot>
				</table>
      
</div>

    <script  src="/js/bin.js"></script>


 